{% extends('layout/base.twig') %}

{% block content %}
    {#{{ dump(ranking) }}#}
    <div class="row">
        <div class="column small-12">
            <table>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Spiele</th>
                    <th>S</th>
                    <th>U</th>
                    <th>N</th>
                    <th>Ø</th>
                    <th>Punkte</th>
                    <th>Torverhältnis</th>
                </tr>
                {% for i, rank in ranking %}
                    <tr>
                        <td>{{ i + 1 }}.</td>
                        <td><a href="/player/{{ rank.name }}">{{ rank.name }}</a></td>
                        <td>{{ rank.count }}</td>
                        <td>{{ rank.victories }}</td>
                        <td>{{ rank.draw }}</td>
                        <td>{{ rank.loss }}</td>
                        <td>{{ rank.average }}</td>
                        <td>{{ rank.points }}</td>
                        <td>{{ rank.goals - rank.goals_against }}</td>
                    </tr>
                {% endfor %}
            </table>

            <table>
            {% for i, game in lastGames %}

                    <tr>
                        <td>{{ game.player }}</td>
                        <td><a href="/game/{{ game.id }}">{{ game.goals }} : {{ game.goals_against }}</a></td>
                        <td>{{ game.enemy }}</td>
                    </tr>

            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
