{% extends('layout/base.twig') %}

{% block content %}
    {#{{ dump(profile) }}#}
    {% for profile in profile %}
    <div class="row">
        <div class="column small-12">
            <h1>{{ profile.name }}</h1>
            <ul>
                <li><b>Tore:</b> {{ profile.goals }}</li>
                <li><b>Gegentore:</b> {{ profile.goals_against }}</li>
                <li><b>Punkte:</b> {{ profile.points }}</li>

            </ul>
        </div>
    </div>
    {% endfor %}

{% endblock %}
